@use 'variables' as v;

@mixin phone($color: blue) {   // todo lo que comience con @ son directivas propias de sass
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet($color: blue) {   // todo lo que comience con @ son directivas propias de sass
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop($color: blue) {   // todo lo que comience con @ son directivas propias de sass
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL($color: blue) {   // todo lo que comience con @ son directivas propias de sass
    @media (min-width: v.$desktopXL) {
        @content;
    }
} 

@mixin grid($columnas, $separacion) {
    display: grid;
    
    grid-template-columns: repeat($columnas, 1fr);
    gap: $separacion;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}